body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.dinfo {
    height: 200px;
    font-family: sans-serif;
    color: blue;
    margin-top: 75px;
    font-style: italic;
    
}

.pinfo {
    font-family: sans-serif;
    color: pink;
    margin-top: 75px;
    height: 200px;
    font-style: oblique;
    
}
